# ===== Е╞├И▓╔Д╦▌Х©░Х║▄Ф°÷Ф∙╟Ф█╝О╪┬Г╩²Е╞╧Д╦█Х╕│Х©⌡Г┴┬Ф°╛Е╨⌠О╪┴=====
secret_local.py
secret_local.py.bak
data/
*.log

# ===== Python =====
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# ===== Г╪√Х╬▒Е≥╗ / ГЁ╩Г╩÷ =====
.idea/
.vscode/
.DS_Store
Thumbs.db

# ===== Г╕╩Г╨©Д╬²Х╣√Е▄┘О╪┬Е╕┌И°─Х╕│Е▐╞Е█∙Г▀╛Г■╗ U Г⌡≤Ф▀╥О╪┴=====
*.whl

# pip в╟╟Э╧ЩЁлжп©идэ╡ЗиЗ╣даый╠д©б╪
pip-*

# pip в╟╟Э╧ЩЁлжп©идэ╡ЗиЗ╣даый╠д©б╪
pip-*
